<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Visualizer</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customize.css') }}">
</head>

<body>
    <!-- Header -->
    <div class="fixed-header">
        <div class="header">
            <a href="{{ url_for('index') }}"><div class="logo"><img src="static/logo.png" alt="SpectraStitch Logo"/></div></a>
            <nav>
                <ul>
                   
                </ul>
            </nav>
        </div>
    </div>
    <!-- Info Bar -->
    <div class="info-bar">Free Shipping over CHF 50</div>

    <div class="split">
        <!-- Left section with images -->
        <div class="left">   
            <!-- Slideshow Container -->
            <div class="slideshow-container">  
                 <!-- First View: Tote Bag with Generated Image -->
                <div class="slide">
                    <img src="static/totebag.png" alt="Background" class="product-image">
                    <img src="static/design_placeholder.png" alt="Generated image" class="generated-image-tote" >
                    <img src="static/loading_2.gif" alt="Spinner" class="spinner-tote" style="display:none" >
                </div>
    
                <!-- Second View: Only Generated Image -->
                <div class="slide">
                    <img src="static/design_placeholder.png" alt="Generated image" class="generated-image-full" >
                    <img src="static/loading_2.gif" alt="Spinner" class="spinner-full" style="display:none" >
                    
                </div>
            </div>
    
            <!-- Slideshow Navigation Buttons -->
            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div> 
        </div>
        
        <!-- Right section with controls -->
        <div class="right">
            <div class="subtitle">1. Upload your favorite song</div>
            <form action="/process" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="input-pair">
                    <label>Song title:</label>
                    <input type="text" name="song_title" placeholder="Enter song title">
                </div>
                <div class="input-pair">
                    <label>Artist name:</label>
                    <input type="text" name="artist_name" placeholder="Enter artist name">
                </div>
                <div class="warning"><b>Note:</b> No responsibility is taken for unlawful usage of copyrighted material!</div>
                <div class="file-container">
                    <input type="file" name="file" required id="fileInput">
                    <label class="file-label" id="fileLabel" for="fileInput">Choose a file...</label>
                </div> 
            </form>
        
            <div class="subtitle">2. Tweak your custom artwork</div>
            <form id="designForm">
                <div class="input-pair">
                    <label>Blocks per row (10-500):</label>
                    <input type="number" name="x_dim" min="10" max="500" value="100">
                </div>
                <div class="input-pair">
                    <label>Height of block (1-10):</label>
                    <input type="number" name="y_scale" min="1" max="10" value="2">
                </div>
                <div class="input-pair">
                    <label>Low frequency color:</label>
                    <input type="color" name="hex_start" value="#1059ad">
                </div>
                <div class="input-pair">
                    <label>High frequency color:</label>
                    <input type="color" name="hex_end" value="#5c8abf">
                </div>
                <div class="input-pair">
                    <label>Text Color:</label>
                    <input type="color" name="text_color" value="#FFFFFF">
                </div>
                <div class="input-pair">
                    <label>Text Width (10-100%):</label>
                    <input type="range" name="text_width_percent" min="10" max="100" value="80">
                </div>
            </form>
        
            <button id="orderButton">Continue to order</button>
        </div>
        
    </div>

    <!-- Footer -->
    <footer>
        © 2023 SpectraStitch. All rights reserved. | <a href="#" style="color: #ddd; text-decoration: none;">Privacy Policy</a> | <a href="#" style="color: #ddd; text-decoration: none;">Terms of Service</a>
    </footer>

    <!-- Include JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- JavaScript-->
    <script>
        // Add a variable to store the data_filename once uploaded
        let currentDataFilename = null;

        $(document).ready(function() {
            // Listen for changes to the file input field
            $('input[type="file"]').on('change', function() {
                let fileName = $(this).val().split('\\').pop(); // Extract the file name from the path
                $('#fileLabel').text(fileName); // Set the label text to the file name
                $('#uploadForm').submit();  // Automatically submit the form
                $('#fileLabel').css('background-color', ' #ff9c34'); // Change button color after upload
                $('#fileLabel').css('color', ' #fff'); // Change button text color after upload
            });

            $('#uploadForm').on('submit', function(e) {
                e.preventDefault();

                // Show the spinner
                $('.generated-image-full').hide();
                $('.generated-image-tote').hide();
                $('.spinner-full').show();
                $('.spinner-tote').show();

                var formData = new FormData(this);

                // First call the process endpoint to get the data_filename
                $.ajax({
                    url: '/process',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        if (data && data.data_filename) {
                            currentDataFilename = data.data_filename; // Save the data_filename
                            // Once we get the data_filename, use it to generate the image
                            generateImage(currentDataFilename);
                        } else {
                            $('.spinner-full').hide();
                            $('.spinner-tote').hide();
                            alert("Unexpected response from the server.");
                        }
                    },
                    error: function(xhr, status, error) {
                        $('.spinner-full').hide();
                        $('.spinner-tote').hide();
                        alert("There was an error processing the audio.");
                    }
                });
            });

            // Trigger the generateImage function whenever an input field inside designForm changes
            $('#designForm input').on('change', function() {
                if (currentDataFilename) {
                    generateImage(currentDataFilename);
                }
            });
        });

        function generateImage(data_filename) {
            var formData = new FormData($('#designForm')[0]);  // Fetch data from form
            formData.append('data_filename', data_filename);  // Add the data_filename to the form data
            // Append song title and artist name from uploadForm to designForm
            formData.append('song_title', $('input[name="song_title"]').val());
            formData.append('artist_name', $('input[name="artist_name"]').val());

            $.ajax({
                url: '/generate_image',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    if (data && data.image_url) {
                        $('.generated-image-full').attr('src', data.image_url).show();
                        $('.generated-image-tote').attr('src', data.image_url).show();
                        $('.spinner-full').hide();
                        $('.spinner-tote').hide();
                    } else {
                        $('.spinner-full').hide();
                        $('.spinner-tote').hide();
                        alert("Unexpected response from the server.");
                    }
                },
                error: function(xhr, status, error) {
                    $('.spinner-full').hide();
                    $('.spinner-tote').hide();
                    alert("There was an error generating the image.");
                }
            });
        }
        
        // Slideshow JavaScript 
        var slideIndex = 1;
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slide");
            var dots = document.getElementsByClassName("dot");
        
            if (n > slides.length) {
                slideIndex = 1;
            }  
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }
        
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
                
        // Initialize the first slide
        showSlides(slideIndex);

    </script>
</body>

</html>
