<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpectraStitch</title>
    <!-- Linking the CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Linking the JavaScript file -->
    <script></script>
</head>
<body>
    <!-- Header -->
    <div class="fixed-header">
        <div class="header">
            <a href="{{ url_for('index') }}"><div class="logo"><img src="static/logo.png" alt="SpectraStitch Logo"/></div></a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('customize') }}">Customize</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="video-section">
        <div class="split">
            <div class="left">
                <img src="static/totebag.png" alt="Sample product" class="totebag"/>
                <img src="static/design_placeholder.png" alt="Sample design" class="sample-totebag"/>
            </div>
            <div class="right">
                <div class="introSmall">This is</div>
                <div class="introBig">SpectraStitch</div>
            </div>
        </div>
        <div class="video-background">
            <iframe
                src="https://www.youtube.com/embed/IsQj_RRNZnU?start=80&autoplay=1&controls=0&showinfo=0&mute=1&loop=1&vq=hd1080"
                frameborder="0"
                allowfullscreen
            ></iframe>
        </div>
    </section>

    <section class="custom-designs">
        <h2>Custom designs for every song imaginable</h2>
        <div class="designs-container">
            <img src="static/design_placeholder.png" alt="Custom Design 1">
            <img src="static/design_placeholder.png" alt="Custom Design 2">
            <img src="static/design_placeholder.png" alt="Custom Design 3">
            <img src="static/design_placeholder.png" alt="Custom Design 4">
        </div>
    </section>
    
    <section class="go-to-customizer">
        <div class="background">
            <img src="static/sample-mockup.png" alt="Sample bag"/>
        </div>
        <div class="content-wrapper">
            <h2>Ready to make your own?</h2>
            <a href="{{ url_for('customize') }}"><button>Customize</button></a>
        </div>
    </section>
    
    

    <!-- Footer -->
    <footer>
        © 2023 SpectraStitch. All rights reserved. | <a href="#" style="color: #ddd; text-decoration: none;">Privacy Policy</a> | <a href="#" style="color: #ddd; text-decoration: none;">Terms of Service</a>
    </footer>

</body>
</html>
