/* Main Content Area */
/* Make content within split appear side to side*/
.split {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: #fff;
}

.left {
    width: 60%;
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 16px;
    padding: 20px 40px;
}

.right {
    width: 40%;
    background-color: #fff7db;
    padding: 30px 30px 30px 30px;
    margin-right: 0px;
    box-shadow: -10px 10px 100px rgba(0, 0, 0, 0.204);
}
.left, .right {
    box-sizing: border-box;
}


/*Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .left,
    .right {
    width: 100%;
    display: block;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 16px;
    padding: 20px 40px;
    }
}

.title {
    font-weight: 500;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;  /* dark gray */
}

form {
    margin: 15px 0;
}

/* Make the input fields pairs of 2 next to each other */
input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-pair label {
    flex: 1;
    margin-right: 10px;
}

.input-pair input {
    flex: 1;
}        

input[type="file"],
input[type="number"],
input[type="color"],
input[type="text"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

/* Style the select file button */
.file-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* hide it */
    width: 100%;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    padding: 10px;
    background-color: #ffd4a7; /* light gray */
    border: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

/* Make the color pickers more appealing */
input[type="color"] {
    height: 40px; /* making it higher */
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ff9c34;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #ff6c27;
}

button:active {
    background-color: #ff5927;
}

.warning {
    font-size: 14px;
    color: red;
    display: block;
    margin: 10px 0;
}

/* Image & Slideshow Section */
.slideshow-container {
    position: relative;
    height: 80vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    height: 100%; 
}

.product-image {
    position: absolute;
    height: 80vh;
    width: auto; /* ensure it doesn't stretch */
    left: 50%; /* Horizontally centering the image */
    transform: translateX(-50%); /* Horizontally centering the image */
}

.spinner-full,
.generated-image-full,
.product-image {
    -webkit-filter: drop-shadow(-10px 10px 75px #00000064);
    filter: drop-shadow(-10px 10px 75px #00000077);
}

.spinner-tote,
.generated-image-tote {
    position: absolute;
    top: 43vh; 
    width: 13vw;
    left: 50%; /* Horizontally centering the image */
    transform: translateX(-50%); /* Horizontally centering the image */
}

.spinner-full,
.generated-image-full {
    position: absolute;
    height: 60vh;
    top: 80px; 
    width: auto; /* ensure it doesn't stretch */
    left: 50%; /* Horizontally centering the image */
    transform: translateX(-50%); /* Horizontally centering the image */
}

/* Slideshow Controls */
.dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}